@import '../variables.scss';
@import '../mixins.scss';

footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: whitesmoke;
	background-image: linear-gradient(to bottom left, $primary-color, #1b67da);
	height: 80px;
	width: 100%;

	.column {
		display: flex;
		flex-direction: column;
		ul {
			list-style: none;
			font-weight: 700;
			a {
				text-decoration: none;
			}
		}
	}

	.copyright {
		// align-self: flex-end;
		// margin-left: auto;
	}
}

.c-hero__learnMore {
	margin-left: auto;
	margin-right: auto;
	&Container {
		display: flex;
		margin: 40px auto;
	}

}

.bottomButtonsWrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.ctaButton {
	@include buttonMixin;
	display: inline-block;
	text-align: center;
	position: relative;
	width: 26em;
	margin-top: 2em;
	max-width: 47%;
	line-height: 30px;
	height: 30px;
	text-decoration: none;
	justify-self: flex-end;
	font-size: 17px;
	text-shadow: black 1px 0 10px;
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	transition-duration: 0.3s;
	transition-property: box-shadow, transform;
	background-image: linear-gradient(#4fffd9, #00746f);
	box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
	&:hover,
	&:focus,
	&:active {
		box-shadow: 10px 15px 10px -10px rgba(0, 0, 0, 0.5);
		transform: scale(1.1);
	}

	&Container {
		width: fit-content;
		height: fit-content;
		margin-left: calc(0.3em + 13vw);
		margin-top: auto;
	}
}