@import '../variables.scss';
@import '../mixins.scss';

.c-signUpForm {
	position: sticky;
	right: 0;
	left: 0;
	// bottom: 8em;
	top: 0;
	max-width: 75%;
	max-height: 20em;
	margin: 0 auto;
	background-color: whitesmoke;
	border: .2px solid dimgrey;
	border-radius: .4em;
	box-shadow: 0px 10px 17px -5px rgba(77,77,77,1);
	z-index: 1;

	&__header {
		@include charcoalText;
		text-align: center;
		font-weight: 700;
		font-size: 1.1rem;
		@include marginHorizontal(.4em)
	}
}

.formContent {
	display: flex;
	flex-direction: column;

	& label {
		margin-left: 10%;
	}

	& input {
		background-color: transparent;
		border: none;
		border-bottom: 1px solid #d2dfde;
		width: 80%;
		margin: 1em auto;
		&:focus {
			outline: none;
		}
	}

	& button {
		@include buttonMixin;
		width: 40%;
		// height: 2em;
		margin: 1em auto;
	}
}

hr {
	border: none;
	height: 1px;
	color: $charcoal; /* old IE */
	background-color: $charcoal; /* Modern Browsers */
	width: 90%;
}

input.c-signUpForm__input {
	position: relative;

	&::placeholder {
		color: dimgrey;
		position: absolute;
	}
	&:focus {
		&::placeholder {
			color: $charcoal;
			bottom: 50px;
		}
	}
}