.signUpForm {
	position: sticky;
	right: 0;
	left: 0;
	bottom: 40px;
	max-width: 50%;
	margin: 0 auto;
	background-color: whitesmoke;
	border: 1px solid black;
	border-radius: .6em;

	&__header {
		text-align: center;
		font-weight: 700;
		font-size: 2em;
		text-transform: uppercase;
	}
}
