.signupForm__input:focus + .signupForm__label {
  font-size: 75%;
  transform: translate3d(0%, -80%, 0);
  opacity: 1;
}

.signupForm__label {
  position: absolute;
  pointer-events: none;
  transition: 0.2s ease all;
  opacity: 0.5;
  font-size: 1em !important;
}