@import '../variables.scss';
@import '../mixins.scss';

.heroBackground {
  height: 556px;
  background-image: linear-gradient(to right, #00ffc6, #1b67da);
  @media screen and (min-width: $break-md) {
    height: 660px;
  }
  @media screen and (min-width: $break-lg) {
    height: 757px;
  }
  @media screen and (min-width: $break-xlg) {
    height: 854px;
  }
  @media screen and (min-width: $break-xxlg) {
    height: 931px;
  }
  @media screen and (min-width: $break-xxxlg) {
    height: 1020px;
  }
}

.c-hero {
  height: 500px;
  width: 100%;
  background-image: url('/images/hero.png');
  background-repeat: no-repeat;
  background-position: 68% 50%;
  background-size: cover;
  border-bottom-right-radius: 4em;
  @media screen and (min-width: $break-md) {
    background-position: 30% 100%;
    height: 590px;
  }
  @media screen and (min-width: $break-lg) {
    height: 689px;
  }
  @media screen and (min-width: $break-xlg) {
    height: 777px;
  }
  @media screen and (min-width: $break-xxlg) {
    height: 855px;
  }
  @media screen and (min-width: $break-xxxlg) {
    height: 950px;
  }

  &__hook {
    color: $button-text-color;
    text-transform: uppercase;
    font-size: calc(1em + 2vw);
    max-width: 58%;
    margin: initial;
    margin-top: .5em;
    text-shadow: black 1px 0 10px;
  }

  &__learnMore {
    @include buttonMixin;
    margin-top: 2em;
    max-width: 47%;
    height: 40px;
    text-decoration: none;

  }
}

.l-heroContainer {
  display: flex;
  flex-direction: column;
  margin-left: 2em;

  * + * {
    margin-top: 1em;
  }
}
