@import '../variables.scss';
@import '../mixins.scss';

.heroBackground {
  position: relative;
  // height: 556px;
  // background-image: linear-gradient(to right, #00ffc6, #1b67da);
  // @media screen and (min-width: $break-md) {
    //   height: 660px;
    // }
  // @media screen and (min-width: $break-lg) {
    //   height: 757px;
    // }
    // @media screen and (min-width: $break-xlg) {
      //   height: 854px;
      // }
      // @media screen and (min-width: $break-xxlg) {
        //   height: 931px;
        // }
        // @media screen and (min-width: $break-xxxlg) {
          //   height: 1020px;
          // }
  }

.signUpButton {
  position: sticky;
  top: 0;
  a {
    text-transform: uppercase;
  }
}

#granim-canvas {
  position: absolute;
  z-index: -1;
  bottom: -108px;
  width: 100%;
  height: 180px;
}

.c-hero {
  height: 500px;
  width: 100%;
  background-image: url('/images/hero.png');
  background-repeat: no-repeat;
  background-position: 68% 50%;
  background-size: cover;
  border-bottom-right-radius: 4em;
  @media screen and (min-width: $break-md) {
    background-position: 30% 100%;
    height: 590px;
  }
  @media screen and (min-width: $break-lg) {
    height: 689px;
  }
  @media screen and (min-width: $break-xlg) {
    height: 777px;
  }
  @media screen and (min-width: $break-xxlg) {
    height: 855px;
  }
  @media screen and (min-width: $break-xxxlg) {
    height: 950px;
  }

  &__hook {
    color: $button-text-color;
    text-transform: uppercase;
    font-size: calc(1em + 2vw);
    margin: initial;
    margin-top: .5em;
    text-shadow: black 1px 0 10px;
    line-height: 1.5em;
    &-two {
      flex: 1;
      margin-top: 2em;
    }
  }
  //TODO: Adjust size of learn more button
  //TODO: pressing button should not scroll down user so abruptly
  &__learnMore {
    @include buttonMixin;
    margin-top: 2em;
    max-width: 47%;
    height: 40px;
    text-decoration: none;
    justify-self: flex-end;

    &Container {
      width: fit-content;
      height: fit-content;
      margin-left: calc(0.5em + 10vw);
      margin-top: auto;
    }
  }
}

.l-heroContainer {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
  height: 80%;
}

//js-typed configuration
#js-typed {
  display: inline-block;
  white-space: pre-line;
  width: auto;
}

#js-typed:after {
  visibility: visible;
  content: '';
  background-color: whitesmoke;
  display: inline-block;
  position: relative;
  width: 0.15em;
  height: 1.1em;
  top: 5px;
  left: 7px;
  margin-left: 0;
  animation: flicker 2s steps(2, start) infinite, ready 1s steps(2, start) 25s infinite;
}

@keyframes flicker {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

.typed-cursor {
  visibility: hidden;
}
