@import '../variables.scss';
@import '../mixins.scss';

.c-hero {
  height: 500px;
  width: 100%;
  // background-image: url('https://c.pxhere.com/images/29/14/e145bbfcad48036ceda7f3be84c9-1576819.jpg!d');
  background-image: url('/images/hero.png');
  background-repeat: no-repeat;
  background-position: 30% 50%;
  background-size: cover;
  border-bottom-left-radius: 4em; //will be changed to 'right' when transform hack is fixed
  @media screen and (min-width: $break-md) {

  }

  &__hook {
    color: $button-text-color;
    text-transform: uppercase;
    font-size: 1.7rem;
    max-width: 80%;
    margin: initial;
    @include marginVertical(2em);
    text-shadow: black 1px 0 10px;
  }

  &__learnMore {
    @include buttonMixin;
    max-width: 47%;
    height: 40px;
  }
}

.l-heroContainer {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
}


.heroBackground {
  height: 556px;
  background-image: linear-gradient(to right, #00ffc6, #1b67da);
}