.valuePropSection {
	background-color: orange;
}

.valuePropSectionHeader {
	font-size: 3em;
}

.mediaCard {
	display: flex;
	flex-wrap: wrap;
	background-color: whitesmoke;
	max-width: 60%;
	height: 24em;
	&__image {
		height: 14em;
	}
	&__number {
		color: whitesmoke;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
}

.middleMediaCard {
	background-color: white;
}