@import '../variables.scss';
@import '../mixins.scss';

.valuePropSection {
	&__header {
		@include charcoalText;
		@include marginHorizontal(.5em);
		font-size: 2.4rem;
		width: 80%;
	}
}

.c-mediaCard {
	@include marginHorizontal(1em);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: auto;
	&__image { //to change size of image, we must change wrapper
		width: 100%;
		// @include marginVertical(1.5em);

	}
	&__number {
		color: whitesmoke;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		width: max-content;
		font-size: calc(2.1em + 1.8vw);
		margin: 0 0 15px 34px;
		// @include paddingVertical(10px);
	}
	&__header {
		align-self: center;
		font-size: calc(1em + 1.1vw);
		margin-top: 0;
		margin-left: 34px;
		// max-width: 480px;
	}
	&__explanation {
		flex: 1;
		// max-width: 550px;
		margin-left: 34px;
		line-height: 1.4;
		font-size: calc(0.8em + .5vw)
	}
}
.middleMediaCard {
	flex-direction: row-reverse;
}
.mediaArea {
}

.edgeMediaArea {
	background-color: whitesmoke;
}

.middleMediaArea {
	background-color: white;
}

.l-media__text {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-width: calc(19em + 12vw + 1em);
	margin: 2em auto;


	&__numberAndHeader {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: fit-content;
	}

	@media screen and (min-width: 764px) {
		margin: initial;
		margin-left: auto;
		&-middle {
			margin-right: auto;
			margin-left: initial;
		}
	}
	@media screen and (max-width: 820px) {
	}
}

.imageWrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-self: flex-start;
	@include marginVertical(2em);
	// min-width: 250px;
	max-width: 320px;
	width: calc(4em + 40vw);
}