@import '../variables.scss';
@import '../mixins.scss';

.valuePropSection {
	&__header {
		@include charcoalText;
		@include marginHorizontal(.5em);
		font-size: 2.4rem;
		width: 80%;
	}
}

.c-mediaCard {
	@include marginHorizontal(1em);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: auto;
	&__image { //to change size of image, we must change wrapper
		width: 100%;
		// @include marginVertical(1.5em);

	}
	&__number {
		color: whitesmoke;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		width: max-content;
		font-size: 1.7rem;
		margin: 0 0.5em 0 0;
		@include paddingVertical(10px);
	}
	&__header {
		align-self: center;
		font-size: 1rem;
	}
	&__explanation {
		max-width: 100%;
		flex: 1;
	}
}
.middleMediaCard {
	flex-direction: row-reverse;
}
.mediaArea {
}

.edgeMediaArea {
	background-color: whitesmoke;
}

.middleMediaArea {
	background-color: white;
}

.l-media__text {
	display: flex;
	flex: 1;
	flex-direction: column;
	flex-wrap: wrap;
	@include marginHorizontal(1em);
	@include marginVertical(2em);

	&__numberAndHeader {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: fit-content;
		// font-size: 0.9em;
	}
}

.imageWrapper {
	min-height: 30%;
	width: 35%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	@include marginVertical(2em);
}