@import '../variables.scss';
@import '../mixins.scss';

.valuePropSection {
	&__Header {
		@include charcoalText;
		font-size: 3rem;
	}
}

// TODO: put the whole mediaCard into a flexbox with flex direction row, then put the text portion of the mediaCard into its own flexbox with direction column.
.c-mediaCard {
	margin-left: 1em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	// max-width: 50%;
	height: auto;
	&__image {
		// width: 30%;
	}
	&__number {
		color: whitesmoke;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
	&__explanation {
		max-width: 100%;
	}
}
.middleMediaCard {
	flex-direction: row-reverse;
}
.mediaArea {
	height: 34em;
}

.edgeMediaArea {
	background-color: whitesmoke;
}

.middleMediaArea {
	background-color: white;
}

.l-media__text {
	display: flex;
	flex: 1;
	flex-flow: column wrap;
}

.imageWrapper {
	height: 80%;
	// width: 200px;
	// overflow: hidden;
}