@import './variables.scss';

@mixin buttonMixin {
	background-color: $primary-color;
	color: $button-text-color;
	font-weight: 700;
	border-radius: .5em;
	text-transform: uppercase;
	padding: 0.5em;
	height: auto;
	&:focus {
		outline: none;
	}
}

@mixin charcoalText {
	color: $charcoal;
	text-transform: uppercase;
}

// MARGIN/PADDING MIXINS
@mixin marginHorizontal($size) {
	margin-left: $size;
	margin-right: $size;
}
@mixin marginVertical($size) {
	margin-top: $size;
	margin-bottom: $size;
}
@mixin paddingHorizontal($size) {
	padding-left: $size;
	padding-right: $size;
}
@mixin paddingVertical($size) {
	padding-top: $size;
	padding-bottom: $size;
}
