@import './variables.scss';

@mixin buttonMixin {
	background-color: $primary-color;
	color: $button-text-color;
	font-weight: 700;
	border-radius: .5em;
	text-transform: uppercase;
	padding: 0.5em;
	height: auto;
	&:focus {
		outline: none;
	}
}

@mixin charcoalText {
	color: $charcoal;
	text-transform: uppercase;
}

// MARGIN/PADDING MIXINS
@mixin marginHorizontal($size) {
	margin-left: $size;
	margin-right: $size;
}
@mixin marginVertical($size) {
	margin-top: $size;
	margin-bottom: $size;
}
@mixin paddingHorizontal($size) {
	padding-left: $size;
	padding-right: $size;
}
@mixin paddingVertical($size) {
	padding-top: $size;
	padding-bottom: $size;
}
@mixin propTextArea($direction, $gradient1, $gradient2) {
	background-image: linear-gradient(to $direction, $gradient1, $gradient2);
	box-shadow: -3px 2px 9px 0px #8c8c8c;
	border-radius: 2em;
	color: whitesmoke;
	@include marginVertical(2em);
	padding: 1.2em;
	@media screen and (min-width: $break-sm) {
		padding: 2.4em;
	}
}
