@import './styles/hero';
@import './styles/valueProp';
@import './styles/form';
@import './styles/footer';
@import './variables';

html {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	scroll-behavior: smooth;
	color: $charcoal;
}