@import './styles/hero';
@import './styles/valueProp';
@import './styles/form';
@import './styles/footer';

html {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
}

// @media screen and (min-width: 320px) {
//   html {
//     font-size: calc(16px + 6 * ((100vw - 320px) / 300));
//   }
// }
// @media screen and (min-width: 1000px) {
//   html {
//     font-size: 22px;
//   }
// }