$primary-color: #3cbda1ff;
$button-text-color: whitesmoke;
$charcoal: #353535;

//media query page breaks
$break-sm: 500px;
$break-md: 860px;
$break-lg: 1200px;
$break-xlg: 1395px;
$break-xxlg: 1581px;
$break-xxxlg: 1721px;